body{
    background-image: url(../images/baba.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0px;
}


nav li{
    display: inline;
    margin: 10px
}
nav ul{
    background-color: rgba(195, 0, 255, 0.658);
    color: white;
    width: 100%;
    padding: 10px;

}
nav a{
    color: white;
    text-decoration: none
    ;
}
nav a :hover{
    color: white;
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.308) ), url(../images/background.jpg);
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    

}
.hero-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 45%;
    transform:translate(-50% -50%);
}
.lolo{
    height: 500px;
    position: relative;
    top: 20px;
    
}
.soccer{
    height: 300px;
}
.main-article{
    width: 90%;
    float: left;
    height: 100%;
    padding-left: 0;
}
p,h1{
    color: white;
}

